# data manipulation : 
 1. handling in data like adding, deleting and performing some task on it like remove null entries (clean and transform data) 
 2. organize and structure raw data
# data analysis : 
 1. getting insights from data like what is the highest marks and lowest marks like summrizing data is (generating insights from the data)
 2. finding the pattern, trends and solve problems

# series is 1d thing used with index
# dataframe is 2d thing used with row(indices) and column(names) and all pandas uses label things

In [3]:
import pandas as pd

In [19]:
df = pd.read_csv("hw_200.csv",encoding="latin-1")
print(df.head())

   Index   Height(Inches)"   "Weight(Pounds)"
0      1             65.78             112.99
1      2             71.52             136.49
2      3             69.40             153.03
3      4             68.22             142.34
4      5             67.79             144.30

In [5]:
df = pd.read_excel("sample_data.xlsx")
print(df)

    Name  Age Department  Salary
0    Avi   22         IT   50000
1   Riya   24         HR   55000
2  Karan   23    Finance   52000
3  Sneha   21  Marketing   51000
4  Arjun   25         IT   53000

In [6]:
df = pd.read_json("pandas_sample.json")
print(df)

   id   name  age       city  score
0   1    Avi   23      Delhi   88.5
1   2   Neha   25     Mumbai   92.0
2   3   Ravi   22  Bangalore   79.0
3   4  Sonia   24    Chennai   85.0
4   5  Karan   21       Pune   91.0

In [12]:
students_data = {
    "Name":["avi","ak","devil"],
    "age":[20,30,40],
    "city":["palanpur","gandhinagar","ahmedabad"]
}

df = pd.DataFrame(students_data)
print(df)
df.to_csv("output.csv",index=False)

    Name  age         city
0    avi   20     palanpur
1     ak   30  gandhinagar
2  devil   40    ahmedabad

In [14]:
df = pd.DataFrame(students_data)
print(df)
df.to_excel("output.xlsx",index=False)
df.to_json("output.json",index=False)

    Name  age         city
0    avi   20     palanpur
1     ak   30  gandhinagar
2  devil   40    ahmedabad

# steps in dataset to perform:
1. understand the data
2. identify the problem
3. plan the next step

1. to check first 5 entries from top .head(n) is used
2. to check first 5 entries from end .tail(n) is used
3. here by default value of n(int value must) is 5