# data manipulation : 
 1. handling in data like adding, deleting and performing some task on it like remove null entries (clean and transform data) 
 2. organize and structure raw data
# data analysis : 
 1. getting insights from data like what is the highest marks and lowest marks like summrizing data is (generating insights from the data)
 2. finding the pattern, trends and solve problems

# series is 1d thing used with index
# dataframe is 2d thing used with row(indices) and column(names) and all pandas uses label things

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("hw_200.csv",encoding="latin-1")
print(df.head())

   Index   Height(Inches)"   "Weight(Pounds)"
0      1             65.78             112.99
1      2             71.52             136.49
2      3             69.40             153.03
3      4             68.22             142.34
4      5             67.79             144.30

In [4]:
df = pd.read_excel("sample_data.xlsx")
print(df)

    Name  Age Department  Salary
0    Avi   22         IT   50000
1   Riya   24         HR   55000
2  Karan   23    Finance   52000
3  Sneha   21  Marketing   51000
4  Arjun   25         IT   53000

In [5]:
df = pd.read_json("pandas_sample.json")
print(df)

   id   name  age       city  score
0   1    Avi   23      Delhi   88.5
1   2   Neha   25     Mumbai   92.0
2   3   Ravi   22  Bangalore   79.0
3   4  Sonia   24    Chennai   85.0
4   5  Karan   21       Pune   91.0

In [6]:
students_data = {
    "Name":["avi","ak","devil"],
    "age":[20,30,40],
    "city":["palanpur","gandhinagar","ahmedabad"]
}

df = pd.DataFrame(students_data)
print(df)
df.to_csv("output.csv",index=False)

    Name  age         city
0    avi   20     palanpur
1     ak   30  gandhinagar
2  devil   40    ahmedabad

In [7]:
df = pd.DataFrame(students_data)
print(df)
df.to_excel("output.xlsx",index=False)
df.to_json("output.json",index=False)

    Name  age         city
0    avi   20     palanpur
1     ak   30  gandhinagar
2  devil   40    ahmedabad

# steps in dataset to perform:
1. understand the data
2. identify the problem
3. plan the next step

1. to check first 5 entries from top .head(n) is used
2. to check first 5 entries from end .tail(n) is used
3. here by default value of n(int value must) is 5

# .info method is used to get the information about the data like
1. columns, rows
2. columns name
3. datatypes
4. memory usage

In [8]:
students_data2 = {
    "Name":["avi","ak","devil"],
    "age":[20,30,40],
    "city":["palanpur","gandhinagar","ahmedabad"]
}

df = pd.DataFrame(students_data2)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   age     3 non-null      int64
 2   city    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

# .describe method is used to gain details of data like mean,std,max and all

In [9]:
employees_data = {
    "name": ["Aarav", "Bhavya", "Chetan", "Divya", "Eshan", "Farah", "Gautam", "Hina"],
    "age": [28, 31, 24, 29, 26, 35, 33, 27],
    "salary": [55000, 60000, 48000, 62000, 53000, 71000, 67000, 50000],
    "performance_score": [82, 76, 91, 88, 69, 94, 85, 74]
}

df = pd.DataFrame(employees_data)
print(df.describe())

             age        salary  performance_score
count   8.000000      8.000000           8.000000
mean   29.125000  58250.000000          82.375000
std     3.681518   8172.252706           8.765802
min    24.000000  48000.000000          69.000000
25%    26.750000  52250.000000          75.500000
50%    28.500000  57500.000000          83.500000
75%    31.500000  63250.000000          88.750000
max    35.000000  71000.000000          94.000000

# we can access shape by .shape which includes (rows,columns) and .columns to get columns names

In [11]:
employees_data2 = {
    "name": ["Aarav", "Bhavya", "Chetan", "Divya", "Eshan", "Farah", "Gautam", "Hina"],
    "age": [28, 31, 24, 29, 26, 35, 33, 27],
    "salary": [55000, 60000, 48000, 62000, 53000, 71000, 67000, 50000],
    "performance_score": [82, 76, 91, 88, 69, 94, 85, 74]
}

df = pd.DataFrame(employees_data2)
print(df)
print(f'shape of it {df.shape}')
print(f'columns name {df.columns}')

     name  age  salary  performance_score
0   Aarav   28   55000                 82
1  Bhavya   31   60000                 76
2  Chetan   24   48000                 91
3   Divya   29   62000                 88
4   Eshan   26   53000                 69
5   Farah   35   71000                 94
6  Gautam   33   67000                 85
7    Hina   27   50000                 74
shape of it (8, 4)
columns name Index(['name', 'age', 'salary', 'performance_score'], dtype='object')

# to select columns
1. for single columns return series
2. for multiple columns return dataframe

In [ ]:
employees_data3 = {
    "name": ["Aarav", "Bhavya", "Chetan", "Divya", "Eshan", "Farah", "Gautam", "Hina"],
    "age": [28, 31, 24, 29, 26, 35, 33, 27],
    "salary": [55000, 60000, 48000, 62000, 53000, 71000, 67000, 50000],
    "performance_score": [82, 76, 91, 88, 69, 94, 85, 74]
}

df = pd.DataFrame(employees_data3)
print("sample dataset")
print(df)
print('selecting single Name column')
print(df["name"]) # for single columns
print('selecting multiple Name, Age column')
print(df[["name","age"]]) # for multiple columns

sample dataset
     name  age  salary  performance_score
0   Aarav   28   55000                 82
1  Bhavya   31   60000                 76
2  Chetan   24   48000                 91
3   Divya   29   62000                 88
4   Eshan   26   53000                 69
5   Farah   35   71000                 94
6  Gautam   33   67000                 85
7    Hina   27   50000                 74
selecting single Name column
0     Aarav
1    Bhavya
2    Chetan
3     Divya
4     Eshan
5     Farah
6    Gautam
7      Hina
Name: name, dtype: object
selecting multiple Name, Age column
     name  age
0   Aarav   28
1  Bhavya   31
2  Chetan   24
3   Divya   29
4   Eshan   26
5   Farah   35
6  Gautam   33
7    Hina   27

In [29]:
employees_data4 = {
    "name": ["Aarav", "Bhavya", "Chetan", "Divya", "Eshan", "Farah", "Gautam", "Hina"],
    "age": [28, 31, 24, 29, 26, 35, 33, 27],
    "salary": [55000, 60000, 48000, 62000, 53000, 71000, 67000, 50000],
    "performance_score": [82, 76, 91, 88, 69, 94, 85, 74]
}

df = pd.DataFrame(employees_data4)
print("sample dataset")
print(df[df['salary']>50000]) # based on the condition extracting data

# age is 20 plus and salary is 60,000 plus
print("\nage is 20 plus and salary is 60,000")
print(df[(df["age"]>20) & (df["salary"]>60000)])

# age is 30 plus or performance_score > 90
print("\nage is 30 plus or performance_score > 90")
print(df[(df["age"] > 30) | (df["performance_score"] > 90)])

sample dataset
     name  age  salary  performance_score
0   Aarav   28   55000                 82
1  Bhavya   31   60000                 76
3   Divya   29   62000                 88
4   Eshan   26   53000                 69
5   Farah   35   71000                 94
6  Gautam   33   67000                 85

age is 20 plus and salary is 60,000
     name  age  salary  performance_score
3   Divya   29   62000                 88
5   Farah   35   71000                 94
6  Gautam   33   67000                 85

age is 30 plus or performance_score > 90
     name  age  salary  performance_score
1  Bhavya   31   60000                 76
2  Chetan   24   48000                 91
5   Farah   35   71000                 94
6  Gautam   33   67000                 85