# data manipulation : 
 1. handling in data like adding, deleting and performing some task on it like remove null entries (clean and transform data) 
 2. organize and structure raw data
# data analysis : 
 1. getting insights from data like what is the highest marks and lowest marks like summrizing data is (generating insights from the data)
 2. finding the pattern, trends and solve problems

# series is 1d thing used with index
# dataframe is 2d thing used with row(indices) and column(names) and all pandas uses label things

In [31]:
import pandas as pd

In [32]:
df = pd.read_csv("hw_200.csv")
print(df)

     Index   Height(Inches)"   "Weight(Pounds)"
0        1             65.78             112.99
1        2             71.52             136.49
2        3             69.40             153.03
3        4             68.22             142.34
4        5             67.79             144.30
..     ...               ...                ...
195    196             65.80             120.84
196    197             66.11             115.78
197    198             68.24             128.30
198    199             68.02             127.47
199    200             71.39             127.88

[200 rows x 3 columns]

In [ ]:
df = pd.read_excel("sample_data.xlsx")
print(df)

    Name  Age Department  Salary
0    Avi   22         IT   50000
1   Riya   24         HR   55000
2  Karan   23    Finance   52000
3  Sneha   21  Marketing   51000
4  Arjun   25         IT   53000